<h2>
  Search my Lists
</h2>
<form action="/lists" method="GET">
  

<label>Name</label>
<input type="text" name="name" value="<%= searchOptions.name %>">
  <button type="submit">
    Search
  </button>
 </form>
<br>
<% lists.forEach(list => {%>
  <div><%= list.name %></div>
    <a href="/lists/<%= list.id%>">View</a>
<%  }) %>
<a href="/lists/new">Create a New List</a>