<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
      This is the page head - it contains info the browser uses to display the page
      You won't see what's in the head in the page
      Scroll down to the body element for the page content
    -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />

    <!-- 
      This is an HTML comment
      You can write text in a comment and the content won't be visible in the page
    -->

    <title>Hello World!</title>

    <!-- Meta tags for SEO and social sharing -->
    <link rel="canonical" href="https://glitch-hello-website.glitch.me/" />
    <meta
      name="description"
      content="A simple website, built with Glitch. Remix it to get your own."
    />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="Hello World!" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://glitch-hello-website.glitch.me/" />
    <meta
      property="og:description"
      content="A simple website, built with Glitch. Remix it to get your own."
    />
    <meta
      property="og:image"
      content="https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2Fhello-website-social.png?v=1616712748147"
    />
    <meta name="twitter:card" content="summary" />

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="/bootstrap.css" />
    <link rel="stylesheet" href="/style.css" />

    <!-- Import the webpage's javascript file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/bootstrap.js"></script>
  </head>
  <body>
    <header class="mb-3">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a href=""
            class="m-auto"><span class="navbar-brand h1 fw-bold fs-1 mb-0 site-title"
              ><img
                src="https://cdn.glitch.global/d2c04019-6e73-4df3-9e4c-c15fae03a0cf/logo-4.svg?v=1671585623015"
                class="logo"
                alt="Room2Gro Logo" /></span
          ></a>
        </div>
      </nav>
    </header>
    <div class="text-light m-3">
      <form action="/login" method="POST">
        
        <div>
        <label for="email">Email : </label>
        <input type="email" id="email" name="email" required>
      </div>
        
        <div>
        <label for="password">Password : </label>
        <input type="password" id="password" name="password" required>
      </div>
        
        <button type="submit">
          Login
        </button>
      
    </form>
    </div>
    <div class="text-light m-3">
    <a href="/register">Register</a>
    </div>
  </body>
  <script src="/script.js"></script>
</html>